<!-- templates/all_users_posts.html -->
{% extends 'Post/base.html' %}

{% block content %}
    <h2>All Users Posts</h2>

    {% if request.user.is_authenticated %}
    <p>Welcome, {{ request.user.username }}!</p>
    <!-- Include content for authenticated users -->
    {% else %}
        <p>Not logged in.</p>
        <!-- Include content for non-authenticated users -->
    {% endif %}

    <h2>Create Post</h2>
    <div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Post</button>
        </form>
    </div>
    <hr>
    <div>
        <!-- Display all users' posts -->
        {% for post in posts %}
            <div>
                <h3>{{ post.caption }}</h3>
                <p>{{ post.user.name }}</p>
                <p>Posted at: {{ post.uploaded_at }}</p>
                <!-- Add more details based on your Post model -->
                <!-- Update Post -->
                <p>{{post.id}}</p>
                <form method="POST" action="{% url 'like-on-post' post_id=post.id %}">
                <button type="submit">Like</button>
                </form>
                <button type="submit"> <a href="{% url 'update-post' post_id=post.id %}">Update</a></button>
                <button type="submit"><a href="{% url 'delete-post' post_id=post.id %}">Delete</a></button>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
