<!-- templates/update_comment.html -->
{% extends 'Post/base.html' %}

{% block content %}
    <h2>Update Comment</h2>

    logged in user: {{request.user}}
    {% if request.user.is_authenticated %}
    logged in user: {{request.user}}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="_method" value="PUT">
        <label for="commentText">Update Comment:</label>
        <input type="text" id="commentText" name="text" value="{{ comment.comment_text }}" required>
        <button type="submit">Update Comment</button>
    </form>
{% endblock %}
